<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>eHotel</title>
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">eHotel Management System</a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
       
            <div class="collapse navbar-collapse" id ="navbarNav">
                <ul class = "navbar-nav">
    
                    <li class=""nav-item active>
                        <a href="rooms" class="nav-link text-white">
                            Book a Room
                        </a>
                    </li>

                    <li class=""nav-item active>
                        <a href="bookings" class="nav-link text-white">
                            View Bookings
                        </a>
                    </li>
    
                    <li class=""nav-item active>
                        <a href="rentings" class="nav-link text-white">
                            Paid Reservations
                        </a>
                    </li>

                    <li class=""nav-item active>
                        <a href="customers" class="nav-link text-white">
                            View Customer Accounts
                        </a>
                    </li>
    
                    <li class=""nav-item active>
                        <a href="employees" class="nav-link text-white">
                            View Employee Accounts
                        </a>
                    </li>
    
        
    
                </ul>
               
            </div>
        
        </ul>
      </div>
    </nav>
   
<h1>Welcome! Please login or sign up:</h1>



<a class="btn btn-outline-primary" href="createEmployee" role="button">Employee Sign Up </a>
<a class="btn btn-outline-primary" href="createCustomer" role="button">Customer Sign Up </a>


    </body>
</html>